.ttt-header {
    text-align: center;
    font-size: 40px;
    padding: 10px 0;
    font-family: 'Damion', cursive;
    border-bottom: 1px solid #98e58e;
  }
  #container {
	max-width: 600px;
    margin: 0 auto;
}
.square {
	width: 70%;
	background: greenyellow;
	padding-bottom: 20%;
	margin: 1.66%;
	border-radius: 40px;
	float: left;
	transition: background 0.5s;
}
